langchain
langchain-groq
faiss-cpu
langchain-community
langchain-openai
chromadb
sentence-transformers
tiktoken
pypdf
python-dotenv
pymupdf
docx2txt
python-docx
unstructured[docx]
pandas
openpyxl
jq
matplotlib
langchain-huggingface
langchain-experimental
rank_bm25
wikipedia
langgraph
langchain-core
arxiv
langgraph-cli[inmem]
langchain_tavily
langgraph_supervisor
langchain_experimental
langsmith
openai

